 html *
{
   font-family: Helvetica !important;
} 

h1, h2, h3 {
  color: #0033CC;
}

p {
  font-size: 14px;
  line-height: 2;
  text-align: justify;
  
}

ul {
  font-size: 14px;
  list-style-position: inside;
}

p.special {
  color: #0033CC;
}

a:link {
  color: #0033CC;
}

a:visited {
  color: #0033CC;
}

a:hover {
  color: #0033CC;
}

a:active {
  color: #0033CC;
}

.button {
  transition-duration: 0.4s;
  background-color: #0033CC;
  border-radius: 16px;
  padding: 0px;
  margin: 8px;
  width: 20%;
}

.button a:link, .button a:visited, .button a:active, .button a:hover {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  letter-spacing: normal;
}


.button:hover {
 background-color: #00289e;
}