h1, h2, h3 {
  color: #0033CC;
}

p {
  font-size: 14px;
  line-height: 2;
}

ul {
  font-size: 14px;
  list-style-position: inside;
}

p.special {
  color: #0033CC;
}

a.link {
  color: #0033CC;
}

a.visited {
  color: #0033CC;
}

a.hover {
  color: #0033CC;
}

a.active {
  color: #0033CC;
}